if $(NT) {
	REMOVE = "del /f /q" ;
	COPY = "copy" ;
}

if $(UNIX) {
	REMOVE = "rm -r" ;
	COPY = "cp" ;
}

ARCHITECTURE = i386 ;
BUILD_DIR = build ;
OBJ_DIR = build/obj ;
LINT_OUTPUT_FILE = $(BUILD_DIR)/splint.out ;

LINT = splint ;
LINT_FLAGS = -strict ;

ASSEMBLER = nasm ;
ASSEMBLER_FLAGS = -f elf ;

COMPILER = gcc ;
COMPILER_FLAGS = -Wall -Wextra -Werror -nostdlib -nostartfiles -nodefaultlibs -c ;

LINKER = ld ;
LINKER_FLAGS = ;
